body {
    color: black;
}

i {
    cursor: pointer;
    color: gray;
}

.block {
    padding: 15px;
}

.navbar, .navbar-inner {
    background-color: #0a2452;
}

.navbar, .navbar-inner i {
    color: white;
}

.page-content-totalizador {
    background-color: #0a2452;
    padding: 0.8rem;
}

.totalizador {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 2rem;
    color: white;
}

.apresentar-valores {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.receitas-despesas {
    display: flex;
    justify-content: space-around;
}

.receitas p {
    color: blue;
}

.despesas p {
    color: red;
}

.receitas b, .despesas b {
    margin-left: 1.7rem;
    font-size: 1rem;
}

.receitas p, .despesas p {
    font-size: 1.3rem;
    font-weight: bold;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

.cabecalho, .titulo {
    /* border: red solid 1px; */
    font-size: 1rem;
}

.cartao {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}

.nome {
    margin-right: 30%;
    margin-top: 1rem;
}

.nome p {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    color: gray;
}

.acao i {
    font-size: 1.2rem;
}

.logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

/* Tamnaho da fonte do tabmenu */
#tabmenu span {
    font-size: 0.6rem;
}

#tabmenu .toolbar-inner .link.tab-link-active i  {
    color: #007aff;
}

#tabmenu .toolbar-inner .link-principal {
    position: relative;
    top: -2px;
}

#tabmenu .toolbar-inner .link-principal i {
    /* border: solid 1px red; */
    font-size: 2rem;
    background-color: #034b97;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}